<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
             <h2>Update utilizator</h2>
        </div>
    </div>

    {% if not email %}
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
        <form method ='POST' name="form1">
             <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
              <input type="email" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="email">
             </div>

            <div class="input-group mb-3">
                <div class="container-login100-form-btn">
						<button class="login100-form-btn" name="submit1">
							Submit
						</button>
                </div>
            </div>
        </form>
        </div>
    </div>

    {% else %}
        <div class="row justify-content-md-center">
        <div class="col-md-auto">
        <form method ='POST'>
              <div class="row justify-content-md-center">
                <div class="col-md-auto">
                  <h3>Nu poti updata emailul</h3>
                </div>
              </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Email</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="email" value="{{acc[1]}}">
             </div>

              <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Parola</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="pass" value="{{acc[2]}}">
             </div>

              <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Nume</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="nume" value="{{acc[3]}}">
             </div>

           <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Prenume</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="prenume" value="{{acc[4]}}">
             </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Varsta</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="varsta" value="{{acc[5]}}">
             </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Nr Tel</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="nr_telefon" value="{{acc[6]}}">
             </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Strada</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="strada" value="{{acc[7]}}">
             </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Nr Strada</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="nr_strada" value="{{acc[8]}}">
             </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Cod Postal</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="cod_postal" value="{{acc[9]}}">
             </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Oras</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="oras" value="{{acc[10]}}">
             </div>

            <div class="input-group mb-3">
              <span class="input-group-text" id="inputGroup-sizing-default">Judet</span>
              <input type="text" class="form-control" aria-label="Sizing example input" aria-describedby="inputGroup-sizing-default" name="judet" value="{{acc[11]}}">
             </div>

            <div class="input-group mb-3">
                <div class="container-login100-form-btn">
						<button class="login100-form-btn" name="submit2">
							Update
						</button>
                </div>
            </div>
        </form>
        </div>
    </div>

    {% endif %}
</div>

{% endblock %}
</body>
</html>