<!DOCTYPE html>
<html lang="en">
{% extends 'base.html' %}
<head>
    <meta charset="UTF-8">
    <title>Admin Page</title>
</head>
<body>
{% block content %}
<div class="container">
    <div class="row justify-content-md-center">
        <div class="col-md-auto">
            <h1>Nu poti updata Categoriile. Daca se schimba numele unei categorii, trebuie s-o stergi cu functia delete si sa introduci noul nume cu functia INSERT. </h1>
            <br>
            <h1><a href='/AdminCategorii'>Intoarce-te la pagina Categorii</a></h1>
        </div>
    </div>
</div>

{% endblock %}
</body>
</html>